<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="ru.security59.unnamed.entities.Category"/>
        <mapping class="ru.security59.unnamed.entities.Failure"/>
        <mapping class="ru.security59.unnamed.entities.Image"/>
        <mapping class="ru.security59.unnamed.entities.Product"/>
        <mapping class="ru.security59.unnamed.entities.Target"/>
        <mapping class="ru.security59.unnamed.entities.Vendor"/>
    </session-factory>
</hibernate-configuration>