<!DOCTYPE html>
<html lang="en" ng-app="unnamed" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{site.title}"></title>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/unnamed.js"></script>
    <script src="/static/js/vendor-service.js"></script>
    <script src="/static/js/common.js"></script>
</head>
<body ng-controller="unnamedCtrl">
<!--/*@thymesVar id="test" type="String"*/-->
<p th:text="${test}"></p>
<input type="button" value="normal" ng-click="loadVendor()">
<input type="button" value="force" ng-click="loadVendor(true)">
<a href="/logout"><input type="button" value="logout"></a>
    <div ng-repeat="vendor in vendors track by $index" ng-show="showVendors">
        index: {{$index}}
        {{vendor.id}}
        {{vendor.name}}
        {{vendor.country}}
        {{vendor.warranty}}
    </div>
</body>
</html>