<!DOCTYPE html>
<html lang="en" ng-app="unnamed" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{site.title}"></title>
    <script src="/static/js/angular.min.js"></script>
    <script src="/static/js/unnamed.js"></script>
    <script src="/static/js/auth-service.js"></script>
    <script src="/static/js/auth-controller.js"></script>
</head>
<body ng-controller="authController">
<form>
    <div><label>Name:<input ng-model="user.username" name="username"/></label></div>
    <div><label>Login:<input ng-model="user.login" name="login"/></label></div>
    <div><label>Password:<input ng-model="user.password" type="password" name="password"/></label></div>
    <div><input type="submit" ng-click="signup(user)" value="Sign Up"/></div>
    <div ng-if="error.state">{{error.text}}</div>
</form>
</body>
</html>